# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Testing
coverage
.nyc_output

# Environment files
.env
# .env.local  # 允许复制 .env.local 到 Docker
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore
*.sh

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.husky
README.md
LICENSE
swagger.json
